<!doctype html>
<html lang="fr">
	<head>
	 	<meta charset="utf-8">
	 	<title>Route</title>
	 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/> 	
	</head>

	<header>
		{% include 'menu.html.twig' %}
	</header>

	<body style="margin: 20px;">
		{% block page %}
		{% endblock %}
	</body>
</html>