<ul id="menu" class="nav nav-pills">
	<li><a href="{{ urlFor('Accueil')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Accueil</a></li>
	<li><a href="{{ urlFor('Authors')}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Auteurs</a></li>
	<li><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Editeurs</a></li>
	<li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Livres</a></li>
</ul>